.navigation {
  transition: 0.5s;
  background: #FF757D;
  color: #322F7C;
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  z-index: 3;
  border-right: 2px dashed #422b8e;
  padding: 10px;
}
body.hide-navigation .navigation {
  transform: translateX(-100%);
}
.navigation__input {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  background: #422b8e;
  border: 2px dashed #ff757d;
  color: #ff757d;
  outline: none;
}
.navigation__list {
  overflow: auto;
  height: 100%;
  padding-bottom: 100px;
}
.navigation__item {
  padding: 10px;
  border-bottom: 2px dashed #422B8E;
  cursor: pointer;
}
.navigation__item:hover {
  color: black;
}
.navigation__about {
  background: linear-gradient(transparent, white 30%);
  padding: 30px 20px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.navigation__about span {
  display: block;
}

/* Toggle Button */
.navigation__toggle {
  background: transparent;
  outline: none;
  position: absolute;
  left: 100%;
  margin-left: 2px;
  top: 0;
  border: none;
  cursor: pointer;
  padding: 32px;
}
.navigation__toggle span,
.navigation__toggle span:before,
.navigation__toggle span:after{
  border-radius: 50px;
  transition: 0.5s;
  background: #FF757D;
  position: absolute;
  height: 3px;
  width: 20px;
}
.navigation__toggle span{
  background: transparent;
  left: 20px;
  top: 30px;
}
.navigation__toggle span:before,
.navigation__toggle span:after {
  content: "";
  left: 0;
}
.navigation__toggle span:before {
  transform: rotateZ(-28deg);
  width: 20px;
  top: -9px;
  transform-origin: right;
}
.navigation__toggle span:after {
  transform: rotateZ(28deg);
  top: 9px;
  transform-origin: right;
}
body.hide-navigation span:before,
body.hide-navigation span:after{
  transform: rotateZ(0deg);
}
body.hide-navigation span {
  background: #FF757D;
}

/* Smartphone */
@media (max-width: 600px) {
  .navigation {
    width: calc(100vw - 50px);
  }
}
